$('textarea').val("");

$('#comments_blank').html('<span id="comments_<%= @comment.id %>"></span>');
$('#comments_<%= @comment.id %>').html("<%= j(render partial: 'layouts/comments',locals: {post_comment: @comment}) %>");
