アドミン用　有効ユーザー一覧表示ページ


退会済みユーザー一覧表示ボタン

<% @users.each do |user|  %>
     <%= link_to admins_users_show_path(user) do  %>
      <table>
	  <tr>
	  <td><%= user.name  %></td>
	  <tr>
	  </table>
	<% end %>


<% if user.deleted_at.present?  %>
退会済みのユーザーです
<% end %>



<% end %>