<div class ="container">
	<div class="row">
		<div class ="col-lg-12 text-center"><br>
           <h1>本当に復元しますか？</h1><br>
　　　　　　　　<%= form_for(@user, url: {controller: "admins/restore_confirmations", action: "restore"}) do |f| %>
　　　　　　　　　　<%= f.hidden_field :user, :value => @user %>
　　　　　　　　　　<%= f.submit "ユーザーを復元する", class:"btn btn-brock btn-primary" %>
　　　　　　　　<% end %>
        </div>
     </div>
</div>