<div class="container" >
	<div class ="row">
		<div class ="col-lg-12 text-center">
			<h1>Management Portal</h1><br>
			  <h3><%= link_to "User 一覧", admins_users_path %></h3>
			  <br>
			  <h3><%= link_to "Post 一覧", admins_posts_path  %></h3>
		</div>
	</div>
</div>